{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },

  "ConnectionStrings": {
    "MyConnection": "Server=;Database=BarberShop;User Id=;Password=;Encrypt=False;"
  },
  "AllowedHosts": "*"


}
